@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

/* App default styles */

.App {
  min-height: 100vh;
  color: white;
  padding-top: 5vh;
  font-family: Open Sans, sans-serif;
  margin-left: 40px;
  letter-spacing: -1px;
}

.App-content section {
  margin-bottom: 200px;
}

.App-content section:last-child {
  margin-bottom: 10px;
}

/* Logo styles */

.logo {
  width: 75px;
  margin: 0 -15px 30px 0;
}

/* Application styles */

.App h2 {
  font-size: calc(10px + 9vmin);
  line-height: 75px;
  font-family: Open Sans Condensed, sans-serif;
  margin: 0;
  color: cyan;
}

.bg-tag {
  font-family: Dancing Script, cursive;
  color: rgb(85, 85, 85);
  font-size: large;
  font-weight: 300;
  margin-left: -20px;
  margin-top: 1px;
  margin-bottom: 1px;
  user-select: none;
}

.bg-tag-body {
  font-family: Dancing Script, cursive;
  color: rgb(85, 85, 85);
  font-size: large;
  font-weight: 300;
  margin-left: -30px;
  margin-top: 1px;
  margin-bottom: 1px;
  user-select: none;
}

.bg-tag-html {
  font-family: Dancing Script, cursive;
  color: rgb(85, 85, 85);
  font-size: large;
  font-weight: 300;
  margin-left: -40px;
  margin-top: 1px;
  margin-bottom: 1px;
  user-select: none;
}

.animate-char:hover {
  color: cyan;
  text-shadow: -3px -2px 1px #ee1d52;
  transition: 0.3s ease-out;
}

.special-i {
  font-weight: 800;
  font-size: calc(40px + 5vmin);
  color: #ee1d52;
  text-shadow: -3px -2px 1px cyan;
}

/* Button Styles */

.cy-button {
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  padding: 10px 50px;
  margin: 20px 20px;
  border-radius: 4px;
  border: 2px solid cyan;
  background: linear-gradient(45deg, #1d1d1d 50%, cyan 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.cy-button:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(45deg, cyan 50%, transparent 50%);
  z-index: -1;
}

.cy-button,
.cy-button:after {
  background-size: 300%;
  background-position: 100%;
  transition: 1s;
}

.cy-button:hover,
.cy-button:hover:after {
  cursor: pointer;
  background-position: 0;
}

/* FadeIn Animation */

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
