/* Responsive styles */

@media (max-width: 780px) {
  .Intro-header {
    margin-left: 40px;
  }
  .Intro-description {
    margin-left: 40px;
  }
  .Intro-contact-me {
    margin-left: 40px;
  }
  .Intro-header .logo {
    width: 70px;
    margin-bottom: 20px;
    transition: 0.3s;
  }
}

@media (max-width: 550px) {
  .Intro-header .logo {
    width: 60px;
    margin-bottom: 15px;
    transition: 0.3s;
  }
}

/* Component styles */

.Introduction {
  font-size: calc(10px + 1.5vmin);
}

.Intro-header {
  margin: 25px 0;
}

.Intro-header h1 {
  font-size: calc(10px + 9vmin);
  line-height: 60px;
  font-family: Open Sans Condensed, sans-serif;
  margin: 0;
}

.Intro-description {
  display: flex;
  justify-content: start;
  align-items: center;
  color: lightgray;
}

/* React Logo Animation */

.React-logo {
  height: 3vmin;
}

.React-logo:hover {
  animation: react-logo-spin infinite 1s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: react-logo-spin infinite 5s linear;
  }
}

@keyframes react-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
