@media (max-width: 686px) {
  .Projects-projects {
    margin-left: 100px;
  }
}

@media (max-width: 650px) {
  .Projects-projects {
    margin-left: 50px;
  }
}

@media (max-width: 500px) {
  .Projects-projects {
    margin-left: 10px;
  }
  .Projects {
    margin-left: -40px;
    margin-right: -48px;
  }
}

#Project-text:hover {
  opacity: 1;
  transition: 0.8s;
}

#Project-text {
  opacity: 0;
}

#Project-image {
  width: 275px;
  height: 250px;
}

.Project {
  width: 275px;
  height: 275px;
}

.Projects-info {
  font-size: large;
}

.Projects-projects {
  transition: 0.4s;
}
